[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
uvloop = "*"
ujson = "*"
requests = "*"
gunicorn = "*"
gino = "*"
gino-sanic = "*"
apscheduler = "*"
raven = {extras = ["sanic"]}
blinker = "*"
scraperapi-sdk = "*"
beautifulsoup4 = "*"
contextvars = "*"

[dev-packages]
pylint = "<2.0.0"
black = "*"

[requires]
python_version = "3.6.4"
#python_version = "3.9.1"
